/*
================================================================>
|   Author      |   Ryan Woodward
|   Date        |   May 2024
|   Project     |   Aegis (Inventory System)
================================================================>
*/

:root
{
    --primary-color: #7762A4;
    --secondary-color: #3A414A;
    --accent-color-white: #ffffff;
    --accent-color-pink: #FF1E6D;
    --accent-color-orange: #FFC000;
}

/*
    Styling of the containers
*/
#nav-bar-container
{
    height: 100%;
    background: rgb(119,98,164);
    background: linear-gradient(200deg, rgba(119,98,164,1) 67%, rgba(58,65,74,1) 100%);
}

.nav-bar-child
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*
    Styling of the Logo images
*/
#aegis-logo
{
    width: 120px;
    height: auto;
    margin-top: 50px;
}

#aegis-words-logo
{
    width: 180px;
    height: auto;
}

.nav-bar-logo
{
    margin: 5px;
}


#divider
{
    width: 250px;
    margin: 30px;
}

.fa
{
    color: var(--accent-color-white);
    margin: 10px;
    padding: 10px;
}

.fa:hover
{
    color: var(--accent-color-orange);
    transition: 0.3s ease-in-out;
}


/* NEED TO CREATE A CONDITION WHERE IF THE SCREEN IS REDUCED THEN THE ICONS AND 
LOGO FLOOAT TO THE TOP
AND BECOME SMALL*/

